

.home {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.brand-filter,
.type-filter {
  align-self: center;
}

select {
  width: 12rem;
}

.form-group * {
  padding: 5px 0;
}
form p{
  font-weight: bold;
}

.cannot-delete-item {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: end;
  color: red;
}